<section class="container">
{{#if anime}}
    <h3 class="display-6 text-center my-5">Información sobre <span class="fw-bolder display-5">{{anime.nombre}}</span></h3>

    <div class="card mx-auto" style="width: 24rem;" data-bs-theme="dark">
        <div class="card-header">
            Genero: <span class="fw-bold fs-4">{{anime.genero}}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Titulo: <span class="fw-bold  fs-4">{{anime.nombre}}</span></h5>
            <ul class="list-group ">
                <li class="list-group-item">Año estreno: <span class="fw-bold fs-4">{{anime.year}}</span></li>
                <li class="list-group-item">Autor: <span class="fw-bold fs-4">{{anime.autor}}</span></li>
            </ul>
        </div>
        <div class="d-grid card-footer text-body-secondary">
            <a class=" btn btn-success" href="/">Volver</a>
        </div>
    </div>

{{else}}
    {{> jumbotron titulo='No encontramos el Anime que buscas' descripcion='Asegúrate de revisar la lista de Anime disponibles'}}
{{/if}}
</section>